body {
  background-image: url('/assets/768507.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#page-title {
  color: wheat;
  font-size: larger;
  font-style: italic;
  font-family: sans-serif;
  padding-left: 4px;
}
#header {
  background-color: #2b6777;
  margin-top: 37px;
  padding: 8px;
}
#personal-info {
  font-size: larger;
  font-style: italic;
  color: #fae5df;
  font-family: sans-serif;
}

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #c8e8d4;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #2b6777;
  cursor: pointer;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:hover {
  background-color: #fff;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(127, 167, 190, 0.3) 0 0 0 4px;
}

#content-row {
  margin-top: 30px;
}

#main-page-quote {
  margin-top: 300px;
  float: center;
  color: wheat;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  font-style: italic;
}

.quote-author {
  float: right;
}

.avatar {
  width: 280px;
  height: 300px;
  background-image: url('/assets/098345709abacb1aa3986125ff466d1b.png');
  border-radius: 50%;
  background-size: cover;
}

#contact-info-row {
  background-color: #c8e8d4;
  height: 700px;
}

#avatar-column {
  border-right: 1px solid #2b6777;
}

.contact-page-tile {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #2b6777;
  margin-top: 20px;
  margin-left: 40px;
  float: center;
}

#contact-info-content {
  padding: 30px;
}

.info-headline {
  color: #2b6777;
  padding-top: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar-experience {
  margin: 30px 15px;
  width: 240px;
  height: 270px;
  background-image: url('/assets/troymare_unicorn_by_yugi_master-dc4jqrs.png');
  border-radius: 50%;
  background-size: cover;
}

.avatar-project {
  margin: 30px 15px;
  width: 240px;
  height: 270px;
  background-image: url('/assets/GracefulCharity-OW.png');
  border-radius: 50%;
  background-size: cover;
}

#video-row {
  padding: 16px;
}
